extends layout

block content
  h1= operacio
  - var op = operacio;
  form(name="input", action="/operacions/"+op, method="get")
      | nombre1:
      input(type="number", name="n1")
      | nombre2:
      input(type="number", name="n2")
      input(type="submit", value="Submit")
    
  
