/* Here I add the font style. */
@font-face {
  font-family: UbuntuRegular;
  src: url(../Fonts/Ubuntu-R.ttf);
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #555555;
  text-align: center;
  font-family: UbuntuRegular;
}

/* Navigation bar. */
ul.breadcrumb {
  padding: 10px 16px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #000000;
  border-radius: 7.5px;
  text-align: center;
}

ul.breadcrumb li {
  /* This display inline is used to have the li on the the same line, as well as to don't show the ·. */
  display: inline;
  font-size: 19px;
}

/* This is to add "/" before the li. */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #6f6f6f;
  content: "/";
}

ul.breadcrumb li a {
  color: #6f6f6f;

  /* text-decoration: none is because I don'r want to show the url underlined. */
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #40c82a;
  text-decoration: underline;
}

/* Grid container that I use in index.html to split the page in different parts. */
.contenidor-grid {
  background-color: #328c1c;
  display: grid;
  grid-template-areas:
    "millorsJocs taulaImatges taulaImatges taulaImatges taulaImatges taulaImatges xarxesSocials"
    "millorsJocs taulaImatges taulaImatges taulaImatges taulaImatges taulaImatges xarxesSocials";
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.millorsJocs {
  grid-area: millorsJocs;
  margin-right: 15%;
  width: auto;
  border: solid 3px #cccccc;
  border-radius: 10px;
}

.millorsJocs p {
  margin-top: 35px;
}

.taulaImatges {
  grid-area: taulaImatges;
  border: solid 3px #cccccc;
  border-radius: 10px;
}

.xarxesSocials {
  grid-area: xarxesSocials;
  margin-left: 20%;
  width: auto;
  border: solid 3px #cccccc;
  border-radius: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* Add resposiveness to the grid table for small screens. */
@media (max-width: 1280px) {
  .contenidor-grid {
    grid-template-areas:
      "millorsJocs millorsJocs millorsJocs"
      "taulaImatges taulaImatges taulaImatges"
      "xarxesSocials xarxesSocials xarxesSocials";
    max-width: 100%;
  }

  .millorsJocs,
  .xarxesSocials,
  .taulaImatges {
    width: 100%;
    height: 100%;
    margin: 0;
    float: none;
  }

  .taulaImatges {
    margin-left: 0;
  }
}

/* Flex container for llistaVideojocs. */
.contenidor-flex {
  display: flex;
  margin: 20px auto;
  /* Max-width is to say the space I want to use. */
  max-width: 90%;
  background-color: #328c1c;
  border-radius: 10px;
  /* This is to don't show more content if I have more than the size of the container */
  overflow: hidden;
  text-align: center;
}

/* Breadcrumb styles */
.breadcrumb {
  padding: 15px;
  background-color: #333;
  color: #fff;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navigation bar for platforms. */
.barra_vertical {
  /* position: fixed is because I want to move it when scrolling down. */
  position: fixed;
  padding: 20px;
  height: 85%;
  background-color: #000000;
  border-radius: 5px;
}

.barra_plataformes {
  list-style-type: none;
  padding: 0;
  overflow: hidden auto;
}

.barra_plataformes li {
  margin: 10px 0;
}

.barra_plataformes a {
  /* Display: block is to have all of them wuth the same width. */
  display: block;
  padding: 16px 24px;
  border-radius: 5px;
  text-decoration: none;
  color: #6f6f6f;
  background-color: #ececec;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.barra_plataformes a:hover {
  background-color: #ccc;
}

/* Videogame table. */
#llistaVideojocs {
  width: 135%;
  /* Border-collapse is to prevent the gap between the cells. */
  border-collapse: collapse;
  margin-left: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#llistaVideojocs th,
#llistaVideojocs td {
  border: 1px solid #ddd;
  padding: 15px;
}

#llistaVideojocs th {
  background-color: #0379d1;
  color: #fff;
}

#llistaVideojocs tr:nth-child(even) {
  background-color: #f9f9f9;
}

#llistaVideojocs tr:hover {
  background-color: #00ae01;
  color: #fff;
}

/* Style images of videogames. */
.contenidor-grid-imatges {
  display: grid;
  margin-left: 27%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Two columns with two images in each column */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px; /* Add gap between the images. */
}

/* Size of the image. */
.imatge {
  height: 237px;
  width: 195px;
  margin: 5px;
}

div#fonsImatge {
  background-color: #44d62c;
  padding: 25px;
}

/* Add style to the form that is on Contacte. */
.formulari-contacte {
  width: 300px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.formulari-contacte h2 {
  color: #333333;
  text-align: center;
}

.formulari-contacte label {
  display: block;
  margin: 10px 0 5px;
  color: #333333;
}

.formulari-contacte input,
.formulari-contacte textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulari-contacte textarea {
  resize: vertical;
}

.button {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-size: 28px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Add style for social media icons */
.fa {
  padding: 20px;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
