extends layout

block content
  h1= title
  p Examen d'#{title}.
  a(href='./exercici1') Anar a exercici1.
    br
  a(href='./exercici2') Anar a exercici2.
  br
  a(href='./exercici3') Anar a exercici3.
