<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <title>Canvi moneda</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <form action="/consulta" method="GET">
        <div class="form-group">
          <!-- <label for="id">Id</label>
          <input
            name="id"
            type="text"
            class="form-control"
            id="id"
            aria-describedby="nom"
            placeholder="Entra el id"
          /> -->
        <!-- </div> -->

        <div class="form-group">
          <label for="moneda1">Moneda 1</label>
          <input
            name="moneda1"
            type="text"
            class="form-control"
            id="moneda1"
            aria-describedby="nom"
            placeholder="Yen"
          />
        </div>

        <div class="form-group">
          <label for="moneda2">Moneda 2</label>
          <input
            name="moneda2"
            type="text"
            class="form-control"
            id="moneda2"
            aria-describedby="nom"
            placeholder="Euro"
          />
        </div>

        <!-- <div class="form-group">
          <label for="codi">Codi</label>
          <input
            name="codi"
            type="text"
            class="form-control"
            id="codi"
            aria-describedby="codi"
            placeholder="Entra el codi"
          />
        </div>

        <div class="form-group">
          <label for="cotitzacio">Cotitzacio</label>
          <input
            name="cotitzacio"
            type="number"
            class="form-control"
            id="cotitzacio"
            aria-describedby="cotitzacio"
            placeholder="Entra el volum de compres"
          />
        </div> -->

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
