<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    L'alumne és <span th:text="${alumne.nom}"></span><br />
    i la nota és <span th:text="${alumne.nota}"></span><br />

    tots els alumnes
    <!-- Here I iterate over each alumn. -->
    <ul th:each="alumne: ${llistaAlumnes}">
      <li th:text="${alumne.nom+' - '+alumne.nota}" />
    </ul>
  </body>
</html>
