body {
  margin: 40px;
  text-align: center;
  /* I use Ubuntu Mono for the font. */
  font-family: "Ubuntu Mono", monospace;
}

/* Style the grid. */

.header {
  grid-area: header;
}

.barra-superherois {
  grid-area: barra-superherois;
}

.portades-comics {
  grid-area: portades-comics;
}

.detalls-comics {
  grid-area: detalls-comics;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "barra-superherois"
    "portades-comics"
    "detalls-comics"
    "footer";
}

/* I make it responsive on smaller screens. */
@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header header"
      "barra-superherois portades-comics"
      "detalls-comics detalls-comics"
      "footer footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 130px auto 400px;
    grid-template-areas:
      "header header header"
      "barra-superherois portades-comics detalls-comics"
      "footer footer footer";
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #f7ba43;
}

.detalls-comics {
  background-color: #ccc;
  color: #444;
}

/* Style the header image. */
img#marvel-logo {
  width: 120px;
  /* float: left; */
}

/* Style the size and logo of the heroes. */
img#logo-superheroi {
  width: 100px;
  background-color: #add8e6;
  border-radius: 50%;
  margin-top: 10px;
}
