* {
  background-color: #fffacd;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"],
input[type="reset"] {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f08080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}
